<app-loading *ngIf="loader"></app-loading>
<div class="row" *ngIf="!loader">
  <div class="col-2">
    <img [src]="infoArtist.images | noimage" alt="" class="img-thumbnail">
  </div>
  <div class="col">
    <h3>{{infoArtist.name}}</h3>
    <p>
      <a [href]="infoArtist.external_urls.spotify" target="_blank">Ir al sitio</a>
    </p>
  </div>
  <div class="col-4">
  </div>
</div>
<div class="row m-5">
  <div class="col">
    <table class="table">
      <thead>
      <tr>
        <th>Foto</th>
        <th>Album</th>
        <th>Cancion</th>
        <th>Preview</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let track of arrTopTracks">
        <td><img [src]="track.album.images | noimage" alt="" class="img-thumbnail"></td>
        <td>{{track.album.name}}</td>
        <td>{{track.name}}</td>
        <td>
          <iframe [src]="track.uri | track" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
